# Output path
/bin
/output-folder
/scanned-images

# Output jar
usda-java-flour-scan.jar

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# program config
.config
flour-scan.config